#terminal {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 500px;
    overflow-y: auto;
}

#input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    caret-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.prompt {
    color: #0f0;
    margin-right: 5px;
    display: inline-block;
}

#output div {
    white-space: pre-wrap;
    word-break: break-all;
}